/* overall page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary-color-green: #556B2F;
    --Primary-color-red: #dd4020;
    --Primary-color-brown: #8B4513;
    --accent-color-white: #f2f3ed;
    --accent-color-yellow: #DAA520;
    --accent-color-navy: #2C3E50;
    --food-card-witth: 250px;
    --category-card-witth: 300px;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: auto;
}

@media (max-width: 1240px) {
    .container {
        width: 950px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 550px;
    }
}
@media (max-width: 550px) {
    .container {
        width: 90%;
    }
}







.set{
    background-color: var(--accent-color-navy);
    border: 2px solid var(--accent-color-navy);
    color: var(--accent-color-white);
}

.unset{
    background-color: var(--accent-color-white);
    border: 2px solid var(--accent-color-navy);
    color: var(--accent-color-navy);
}
/* overall end */
/* welcome section */
.welcome {
    background: url('../images/welcome_2.jpg');
    background-size: cover;
    height: 100vh;
}
/* header {
    width: 100%;
} */

/* header start */
header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}



header .brand {
    display: flex;
    align-items: center;
}

header .brand h1{
    color: var(--Primary-color-green);
    letter-spacing: -3px;
}

header .navigation {
    list-style-type: none;
    display: flex;
    /* min-width: 420px; */
}

@media (max-width: 767px) {
    header .navigation {
        height: 40px;
        margin: 15px 0px;
    }
    header .container {
        justify-content: center;
    }
}

header li a {
    text-decoration: 0;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
}


header li a {
    background-color: var(--accent-color-white);
    border: 2px solid var(--accent-color-navy);
    color: var(--accent-color-navy);
}

header li a:hover {
    color: var(--Primary-color-green);
    background-color: transparent;
}

header li:first-child a {
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;
}
header li:last-child a {
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px ;
}

header .logo {
    width: 150px;
}

header .icons a{
    text-decoration: none;
    color: var(--accent-color-navy);
    text-align: center;
    font-size: 23px;
    padding: 10px 15px;
    background-color: var(--accent-color-white);
    border-radius: 50px;
    border: solid 2px var(--accent-color-navy);
    box-shadow: 3px 3px 5px black;
}

header .icons a span {
    display: none;
    font-size: 23px;
}

header .icons a:hover span{
    display: inline;
}
header .icons a:hover{
    color: var(--accent-color-white);
    background-color: var(--accent-color-navy);
}
/* header end */

.welcome section {
    padding: 15px;
    height: calc(100vh - 200px);
    display: flex;
    align-items: left;
}

.welcome section h1 {
    font-family: 'Sansita Swashed';
    font-size: 70px;
    color: var(--Primary-color-red);
    margin: 20px;
}

@media (max-width: 767px) {
    .welcome section h1 {
        font-size: 40px;
    }
}
.welcome section p {
    display: inline;
    font-size: 20px;
    padding: 10px;
    color: var(--accent-color-white);
    background-color: var(--Primary-color-green);
}

.welcome section a:first-of-type {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: var(--Primary-color-red);
    color: var(--accent-color-white);
    border-radius: 50px;
    border: solid 4px var(--Primary-color-red);
    font-size: 18px;
    width: 150px;
    text-align: center;
    font-weight: bolder;
}
.welcome section a:last-of-type {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    color: var(--Primary-color-red);
    border-radius: 50px;
    border: solid 4px var(--Primary-color-red);
    font-size: 18px;
    width: 150px;
    text-align: center;
    font-weight: bolder;
}

.call-for-action {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
}







/* featured */

.featured .container,
.order .container{
    padding: 40px 2px;
}

.featured h2,
.order h2 {
    text-align: center;
    font-family: 'Sansita Swashed';
    padding: 50px;
    font-size: 40px;
}

.featured .cards {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.featured .food-cards {
    grid-template-columns: repeat(auto-fit, var(--food-card-witth));
}

.featured .category-cards {
    grid-template-columns: repeat(auto-fit, var(--category-card-witth));
}

.featured .cards .card {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    /* max-width: 500px; */
}

.featured .food-cards .food-card {
    height: 300px;
}

.featured .category-cards .category-card {
    height: 400px;
}

.featured .cards .card h3{
    font-size: 2.5em;
    padding: 10px;
    color: white;
    font-weight: bold;
    top: 20%;
    width: fit-content;
    margin: 0px auto;
    text-shadow: 2px 2px 8px var(--accent-color-navy);
}

.featured .cards .card .details {
    width: 100%;
    border-radius: 20px;
    align-self: center;
    background: linear-gradient(to top, var(--accent-color-navy) 25%, transparent);
    display: none;
    padding: 15px;
}
.featured .food-cards .food-card .details {
    height: 300px;
}
.featured .category-cards .category-card .details {
    height: 400px;
}

.featured .category-cards .category-card>a {
    width: 100%;
    text-decoration: none;
}

.featured .cards .card:hover .details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
}

.featured .cards .card:hover h3 {
    display: none;
}

.featured .cards .card:hover .details .price {
    color: white;
    background-color: var(--Primary-color-green);
    border-radius: 50px;
    width: fit-content;
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.featured .cards .card:hover .details .des {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.featured .cards .card:hover .details div a{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    border-radius: 50px;
    border: solid 4px var(--Primary-color-green);
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    margin-top: 3px;
}

.featured .cards .card:hover .details div a:first-child{
    background-color: var(--Primary-color-green);
    color: var(--accent-color-white);
}
.featured .cards .card:hover .details div a:last-child{
    background-color: var(--accent-color-white);
    color:var(--Primary-color-green);
}


.featured .order-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 10px;
}

.featured .order-items .order-item {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--accent-color-white);
    align-items: center;
    box-shadow: 2px 3px 5px var(--accent-color-navy);
}
.featured .order-items .order-item .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden; /* Hide the overflow to crop the image */
    position: relative;
    border-radius: 20px;
}

.featured .order-items .order-item .image-container img {
    width: 100%;
}

.featured .order-items .order-item .details {
    padding-left: 15px;

}

.featured .order-items .order-item .details h3{
    font-size: 25px;
    color: var(--Primary-color-green);
}
.featured .order-items .order-item .details h4{
    color: white;
    background-color: var(--Primary-color-green);
    border-radius: 50px;
    width: fit-content;
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.featured .order-items .order-item .details .price-div {
    display: flex;
    padding: 10px 0px;
    gap: 5px;

}
.featured .order-items .order-item .details .price-div input[type="number"] {
    padding: 5px 10px;
    width: 80px;
    border-radius: 50px;
    border: none;
    text-align: center;
}
.featured .order-items .order-item .details .price-div .delete-item {
    padding: 5px 10px;
    width: 70px;
    border-radius: 50px;
    border: none;
    background-color: var(--Primary-color-red);
    color: var(--accent-color-white);
    font-weight: bold;
    text-align: center;
}

.featured .order-form {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.featured .order-form a,
.featured .order-form input {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.featured .order-form input[type="text"],
.featured .order-form input[type="tel"]{
    background-color: var(--accent-color-white);
}

.featured .order-form input[type="button"]{
    background-color: var(--Primary-color-green);
    color: var(--accent-color-white);
}
.featured .order-form a{
    text-decoration: none;
    background-color: var(--Primary-color-red);
    color: var(--accent-color-white);
}

.featured .order-form p {
    color: var(--Primary-color-green);
    font-size: 18px;
    font-weight: bold;
}


.purchase-details .purchase {
    
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: var(--Primary-color-green);
    border-radius: 20px;
    color: var(--accent-color-white);
}
.purchase-details .purchase table {
    width: 100%;
}
.purchase-details .purchase table td {
    padding: 5px;
    font-size: 20px;
}
.purchase-details .purchase ul {
    padding-left: 30px;
}




.qoute-section{
    background-color: var(--accent-color-white);
    padding-top: 60px;
}
.qoute-section .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.qoute-section .side-img {
    width: 400px;
}
.qoute-section div {
    align-self: center;
}
.qoute-section .qoute {
    align-self: center;
    font-size: 3.5em;
    color: var(--Primary-color-green);
    font-weight: bold;
    font-family: 'Sansita Swashed';
}

.qoute-section form {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.qoute-section input[type="search"]{
    font-size: 18px;
    flex-grow: 1;
    border-radius: 50px;
    padding: 10px;
    outline: none;
    border: none;
    text-align: center;
}

.qoute-section input[type="submit"] {
    flex-basis: 100px;
    border-radius: 50px;
    /* background-color: var(--Primary-color-red); */
}




@media (max-width: 767px) {
    .qoute-section .qoute {
        font-size: 2.5em;
        text-align: center;
        justify-self: center;
        width: 100%;
    }
}

/* about us Section Styling */
#about-us {
    background: url('../images/section_bg_1.jpg') var(--accent-color-white);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    height: fit-content;
}


#about-us .container {
    text-align: center; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#about-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--Primary-color-green); 
}

#about-us p {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--accent-color-white);
    margin-bottom: 30px;
    max-width: 700px;
}


#about-us h3 {
    font-size: 1.8em;
    margin: 30px 0 10px;
    color: var(--Primary-color-green);
}

#about-us .contact-info {
    list-style: none;
    padding: 0;
    font-size: 1em;
    color: var(--accent-color-white);
}

#about-us .contact-info li {
    margin: 10px 0;
}

#about-us img {
    width: 400px;
    max-width: 100%;
}
/* end about us section */

/* footer {
    display: flex;
    height: 50px;
    background-color: var(--accent-color-navy);
    color: var(--accent-color-white);
    justify-content: center;
    align-items: center;
} */

#about-us .copy-right span {
    color: var(--accent-color-yellow);
    font-weight: bold;
}